.membercard {
    position: relative;
    width: min-content;
    padding: 0;
    display: flex;
    flex-direction: row;
    
}
.membercard-container {
    background-color: rgb(1, 239, 189);
    position: relative;
    height: 15rem;
    width: 15rem;
    margin: auto;

    h1 {
        position: absolute;
        top: 100%;
        letter-spacing: 0px;
        color: white;
        margin-top: 10px;
        font-size: 26px;
        font-weight: 600;
    }
    p {
        position: absolute;
        top: 115%;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1.5px;
        color: white;
    }
}
