@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror:focus {
    @apply outline-none;
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: #000;
    font-size: 16px;
    color: #333;
}

