nav {
    border-style: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f8fb;
    // background-color: #F4F8FB;
    color: #0969da;
    font-size: 1.2rem;
    position: relative;

    .top-navbar {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0rem 0 2rem 0rem;
        height: 5rem;

        .logo {
            display: flex;
            align-items: center;

            img {
                width: 1.5rem;
                margin-right: 0.5rem;
            }

            i {
                margin-right: 0.5rem;
                font-size: 1.5rem;
            }

            .public {
                color: #60666c;
                font-size: 0.7rem;
                padding: 0.1rem 0.2rem 0.1rem 0.2rem;
                margin-left: 0.3rem;
                border-radius: 1em;
                white-space: nowrap;
                border: 1px solid #858e98;
            }
        }

        .top-navbar-right {
            display: flex;
            align-items: center;

            button {
                height: 30px;
                border-radius: 4px;
                padding: 0.5rem;
                margin-left: 0.5rem;
                font-size: 12px;
                border: 2px;
                border-color: #8b949e;
                font-weight: 700;
                cursor: pointer;
            }

            @media screen and (max-width: 600px) {
                button {
                    display: none;
                }
            }
        }
    }

    .bottom-navbar-container {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
    }

    .bottom-navbar {
        padding-left: 0;
        width: 90%;
        height: 2.7rem;
        display: flex;
        gap: 0rem;
        font-weight: 500;
        overflow-x: scroll;
        align-items: center;
    }

    @media screen and (max-width:600px) {
        .bottom-navbar {
            width: 100%;
        }
    }

    .link-label{
        padding-left: 0.3rem;
    }
    #links {
        color: black;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        text-decoration: none;
        min-width: 115px;
        height: 100%;
        display: flex;
    }

    #links i {
        margin-right: 0.5rem;
    }
}